body {
  background-image: url("background.jpg");
  background-color: darkolivegreen;
}

/* ID */

#mainbox{
  font-family: Perpetua;
  background: bisque;
  width: 1000px;
  margin: 50px; auto;
  padding: 10px;
}

#table {
  font-family: Perpetua;
  background-color: lightgray;
  width: 700px;
  border-color: black;
  border-style: dot-dot-dash;
  border: 1px;
}

table, th, td {
  border: 1px solid black
}

.quote {
  font-size: x-large;
}
